pandas的数据转换函数：map、apply、applymap
1. map：只用于series，实现每个值->值的映射
2. apply：用于series实现每个值的处理，用于df实现某个轴的series的处理
3. applymap：只能用于df，用于处理df中的每个元素**(似乎已经被弃用)

In [1]:
import pandas as pd
stocks = pd.read_excel("C:/Users/THE KEY/Desktop/python_datum/pandas/data/myself_data/stock/stock.xlsx")
stocks.head()

          日期    公司     收盘     开盘      高      低     交易量     涨跌幅
0 2023-02-28  BABA  87.79  88.46  89.34  87.27  24.60M -0.0164
1 2023-03-01  BABA  89.95  92.92  92.92  89.73  32.05M  0.0246
2 2023-03-02  BABA  89.75  88.96  90.92  87.97  24.02M -0.0022
3 2023-03-03  BABA  89.70  90.09  90.39  88.43  25.83M -0.0006
4 2023-03-06  BABA  89.62  89.58  91.30  88.03  16.98M -0.0009

In [2]:
stocks["公司"].unique()

array(['BABA', 'BAIDU', 'JD'], dtype=object)

### --------------------------------------------------------

In [3]:
# map有两种映射Series.map(dict) or Series.map(function)
# 现在把公司映射成中文
# 定义一个字典name
name = {"baba":"阿里巴巴","baidu":"百度","jd":"京东"}

In [4]:
# 第一种方法
# lower()把大写变成小写
stocks["公司中文名1"] = stocks["公司"].str.lower().map(name)
stocks.head()

          日期    公司     收盘     开盘      高      低     交易量     涨跌幅 公司中文名1
0 2023-02-28  BABA  87.79  88.46  89.34  87.27  24.60M -0.0164   阿里巴巴
1 2023-03-01  BABA  89.95  92.92  92.92  89.73  32.05M  0.0246   阿里巴巴
2 2023-03-02  BABA  89.75  88.96  90.92  87.97  24.02M -0.0022   阿里巴巴
3 2023-03-03  BABA  89.70  90.09  90.39  88.43  25.83M -0.0006   阿里巴巴
4 2023-03-06  BABA  89.62  89.58  91.30  88.03  16.98M -0.0009   阿里巴巴

In [5]:
# 另一种方法，传函数
stocks["公司中文名2"] = stocks["公司"].map(lambda x:name[x.lower()])
stocks.head()

          日期    公司     收盘     开盘      高      低     交易量     涨跌幅 公司中文名1 公司中文名2
0 2023-02-28  BABA  87.79  88.46  89.34  87.27  24.60M -0.0164   阿里巴巴   阿里巴巴
1 2023-03-01  BABA  89.95  92.92  92.92  89.73  32.05M  0.0246   阿里巴巴   阿里巴巴
2 2023-03-02  BABA  89.75  88.96  90.92  87.97  24.02M -0.0022   阿里巴巴   阿里巴巴
3 2023-03-03  BABA  89.70  90.09  90.39  88.43  25.83M -0.0006   阿里巴巴   阿里巴巴
4 2023-03-06  BABA  89.62  89.58  91.30  88.03  16.98M -0.0009   阿里巴巴   阿里巴巴

### ---------------------------------------------------------

In [6]:
# apply函数，既可以用于Series，也可以用于DataFrame，参数是传入一个函数
stocks["公司中文名3"] = stocks['公司'].apply(
    lambda x : name[x.lower()])
stocks.head()

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,公司中文名1,公司中文名2,公司中文名3
0,2023-02-28,BABA,87.79,88.46,89.34,87.27,24.60M,-0.0164,阿里巴巴,阿里巴巴,阿里巴巴
1,2023-03-01,BABA,89.95,92.92,92.92,89.73,32.05M,0.0246,阿里巴巴,阿里巴巴,阿里巴巴
2,2023-03-02,BABA,89.75,88.96,90.92,87.97,24.02M,-0.0022,阿里巴巴,阿里巴巴,阿里巴巴
3,2023-03-03,BABA,89.70,90.09,90.39,88.43,25.83M,-0.0006,阿里巴巴,阿里巴巴,阿里巴巴
4,2023-03-06,BABA,89.62,89.58,91.30,88.03,16.98M,-0.0009,阿里巴巴,阿里巴巴,阿里巴巴

In [7]:
stocks["公司中文名4"] = stocks.apply(
    lambda x : name[x["公司"].lower()],
    axis = 1)
stocks.head()

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,公司中文名1,公司中文名2,公司中文名3,公司中文名4
0,2023-02-28,BABA,87.79,88.46,89.34,87.27,24.60M,-0.0164,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
1,2023-03-01,BABA,89.95,92.92,92.92,89.73,32.05M,0.0246,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
2,2023-03-02,BABA,89.75,88.96,90.92,87.97,24.02M,-0.0022,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
3,2023-03-03,BABA,89.70,90.09,90.39,88.43,25.83M,-0.0006,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
4,2023-03-06,BABA,89.62,89.58,91.30,88.03,16.98M,-0.0009,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴

### -------------------------------------------------------

###  applymap函数适用于DataFrame所有值的转换****(已经被弃用)

In [8]:
# 交易量单位为M
stocks.loc[:,"交易量"] = stocks["交易量"].str.replace("M","")
stocks.head()

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,公司中文名1,公司中文名2,公司中文名3,公司中文名4
0,2023-02-28,BABA,87.79,88.46,89.34,87.27,24.60,-0.0164,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
1,2023-03-01,BABA,89.95,92.92,92.92,89.73,32.05,0.0246,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
2,2023-03-02,BABA,89.75,88.96,90.92,87.97,24.02,-0.0022,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
3,2023-03-03,BABA,89.70,90.09,90.39,88.43,25.83,-0.0006,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
4,2023-03-06,BABA,89.62,89.58,91.30,88.03,16.98,-0.0009,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴

In [9]:
sub_df = stocks[["收盘","开盘","高","低","交易量"]]

In [10]:
sub_df.head()

      收盘     开盘      高      低    交易量
0  87.79  88.46  89.34  87.27  24.60
1  89.95  92.92  92.92  89.73  32.05
2  89.75  88.96  90.92  87.97  24.02
3  89.70  90.09  90.39  88.43  25.83
4  89.62  89.58  91.30  88.03  16.98

#### 注意：applymap()这个方法在新版的pandas中已经被弃用了，用map()就足够了，意味着map()也可以处理整个DataFrame中所有的值

In [11]:
# 这里的x是整个DataFrame中所有的值
sub_df = sub_df.map(lambda x : int(float(x)))

In [12]:
print(type(sub_df["交易量"][0]))

<class 'numpy.int64'>

In [13]:
sub_df.head()

   收盘  开盘   高   低  交易量
0  87  88  89  87   24
1  89  92  92  89   32
2  89  88  90  87   24
3  89  90  90  88   25
4  89  89  91  88   16